<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{title}} - Free Computing Movement - Working together for free computing</title>
		<link rel="stylesheet" href="/style.css" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<meta charset="utf-8" />
	</head>
	<body>
		<div id="top">
			<a class="skip" href="#content"><b>Skip to main text</b></a>
		</div>
		<header>
			<a href="/"><img id="logo" src="/logo.png" alt="The logo of the FCM" /></a>
		</header>
		<nav>
			<ul>
				<li><a href="about">/about</a></li>
				<li><a href="campaigns">/campaigns</a></li>
				<li><a href="resources">/resources</a></li>
				<li><a href="community">/community</a></li>
			</ul>
		</nav>
		<div id="content" role="main">
			<div class="columns">
			<div class="major-column" role="article">
				{{article}}
			</div>
			<div class="minor-column" role="complementary">
				{{complementary}}
			</div>
			</div>
		</div>
		<footer>
			<p>Please send general inquiries to <a href="mailto:fcm@andrewyu.org">fcm@andrewyu.org</a>.  Broken links and other corrections or suggestions can be sent to <a href="mailto:webmaster@andrewyu.org">webmaster@andrewyu.org</a>.  A community mailing list is work in progress.</p>
			<p>All works on this Website are public domain.</p>
		</footer>
	</body>
</html>
