<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{title}} - Free Computing Movement - Working together for free computing</title>
		<link rel="stylesheet" href="/style.css" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<meta charset="utf-8" />
	</head>
	<body>
		<div id="top">
			<a class="skip" href="#main">Skip to main text</a>
		</div>
		<header>
			<a href="/"><img id="logo" src="/logo.png" alt="Free Computing Movement" /></a>
		</header>
		<nav>
			<ul>
				<li><a href="/">home</a></li>
				<li><a href="/certs">hardware</a></li>
				<li><a href="/introducing">introducing</a></li>
			</ul>
		</nav>
		<div id="main" role="main">
			<div class="columns">
				<div class="major-column" role="article">
					{{article}}
				</div>
				<div class="minor-column" role="complementary">
					{{complementary}}
				</div>
			</div>
		</div>
		<footer>
			<p>Please send general inquiries, corrections and suggestions to the <a href="mailto:fcm@andrewyu.org">fcm@andrewyu.org</a> mailing list.  Ask in it to join!  Currently there is no community IRC channel, just use <code><a href="https://web.">#fsf</a></code> on <a href="https://libera.chat">Libera.Chat</a> (not sponsored).</p>
			<p>All works on this Website are public domain.</p>
		        <p>This Website started in January, 2022.  It's a work in progress.  If you would like to contribute, please send them to <a href="mailto:fcm@andrewyu.org">fcm@andrewyu.org</a>.</p>
		        <p>This Website, along with <a href="https://project.andrewyu.org/libresociety">the Libre Society project</a>, are looking for a domain name to host on, since it doesn't make sense for this to be a subdomain of Andrew's personal Website.</p>
		</footer>
	</body>
</html>
