/* Public domain CSS */ 
html {
	background-color: #e4e4e4;
}
body {
	line-height: 1.5em;
	/* text-align: justify; */
	max-width: 80em;
	margin: auto;
	background-color: white;
	color: black;
	font-family: sans-serif;
	border: 0.1em solid #bbb;
	border-top: 0;
	box-shadow: 0 0 5px 5px #bbb;
}

.imagewrap {
	text-align: center;
}
.imagewrap img {
	width: 25%;
	border: 0.1em solid #bbb;
	background-color: white;
}
.needpadding {
	padding: 0.75em;
}
.clockwise {
	transform: rotate(90deg);
}
.counterclockwise {
	transform: rotate(-90deg);
}
.upsidedown {
	transform: rotate(-180deg);
}

a {
	text-decoration-color: #bbb
}

a:link {
	color: #049
}

a:visited {
	color: #505050
}

a:active {
	text-decoration: none
}

nav {
	min-width: 74.923ex;
	height: 2.25em;
	padding: 0;
	margin: 0;
	background-color: #005792;
}
nav ul {
	list-style-type: none;
	text-align: center;
	padding: 0;
	margin: 0;
}
nav ul li {
	display: inline;
	margin: 0 1em;
	border: none;
}
nav a, nav a:link, nav a:visited {
	text-decoration: none;
	font-weight: bold;
	color: white;
	display: inline-block;
	line-height: 2em;
	padding: 0 .6em;
	margin-top: .125em;
}

#logo {
	margin-bottom: 5px;
	margin-top: 10px;
}

body {
	background-image: url(/gradiant.png);
	background-position-y: -4px;
	background-repeat:repeat-x
}

.skip {
    position: fixed;
    top: -1000px
}

header {
	text-align: center;
}

#main {
	padding: 1px 3% 0;
}


.columns {
	/* overflow: auto; */
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
}
.major-column {
	padding-top: 1.5ex;
	flex: 1 0 65%;
	min-width: 30em;
	/* max-width: 100%; */
	/* width: 65%; */
	/* float: left; */
	/* margin: 0; */
}
.minor-column {
	flex: 1 0 30%;
	min-width: 20em;
	padding-top: 1.5ex;
	/* min-width: 20em; */
	/* width: 30%; */
	/* max-width: 100%; */
	/* float: right; */
	/* margin: 0; */
}
.major-columns div {
}

.emph-box {
	border: 1px solid #bbb;
	padding: 0 1.5em;
	margin: 4ex 0;
}

.grad-grey {
	background: #eee;
	background: linear-gradient(#eee, white);
}
.grad-red {
	background: #fdd;
	background: linear-gradient(#fdd, white);
}
.grad-blue {
	background: #eef;
	background: linear-gradient(#eef, white);
}
.grad-green {
	background: #dfd;
	background: linear-gradient(#dfd, white);
}
.grad-yellow {
	background: #ffd;
	background: linear-gradient(#ffd, white);
}
.grad-orange {
	background: #fed;
	background: linear-gradient(#fed, white);
}

footer {
	background-color: #f4f4f4;
	border-top: 1px solid #bbb;
	padding: 1px 1em;
	margin-bottom: 0;
}

p {
	margin: 1em 0;
}

blockquote {
	background-color: #cecece;
	padding: 0.1em 1.4em;
	border-radius: 1em;
}
.quote-origin {
	text-align: right;
}
.quote-origin:before {
	content: "—";
}
